@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'FREESCPT';
	src: url(./Fonts/FREESCPT.ttf);
}

@font-face {
	font-family: 'Haettenschweiler';
	src: url(./Fonts/Haettenschweiler-Regular.ttf);
}

@font-face {
	font-family: 'Poppins';
	src: url(./Fonts/Poppins-Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: 'Poppins';
	src: url(./Fonts/Poppins-SemiBold.ttf);
	font-weight: semibold;
}

@font-face {
	font-family: 'Poppins';
	src: url(./Fonts/Poppins-Medium.ttf);
	font-weight: medium;
}

@font-face {
	font-family: 'Poppins';
	src: url(./Fonts/Poppins-Light.ttf);
	font-weight: light;
}

/* btn */

.btn {
	@apply px-2 py-1 transition-all ease-in-out duration-300 text text-xl flex items-center lg:px-16 lg:py-3 cursor-pointer;
}

.btn--small {
	@apply px-2 py-1 h-10 max-w-xs text-center text text-base tracking-wide flex justify-center lg:px-4.5 lg:py-2 lg:h-14;
}

.btn--transparent {
	@apply bg-transparent border-2 border-white rounded-full text-white hover:text-blue-dark hover:bg-white;
}

.btn--red {
	@apply bg-red text-white lg:px-16 lg:py-3 px-4 py-2 hover:bg-warning-800;
}

.btn--rounded {
	@apply rounded-full;
}

/* btn */

/* menu link */

.menu__item {
	@apply h-16 z-10 border-b-1 justify-end border-transparent w-full hover:border-red md:w-auto md:mb-0 mb-2 xl:h-21;
}

.header {
	@apply z-10 px-4 flex lg:px-16 md:px-10 fixed max-w-full transform-gpu w-full transition-all duration-300 ease-in-out;
}

.header__container {
	@apply flex w-full duration-300 ease-in-out transform-gpu lg:-mt-3 transition-all;
}

.header__container:not(.sticky-header) .header__menu--open {
	@apply origin-center;
}

.header__logo {
	@apply font-logo text-5xl text-white pt-2 -ml-1 md:text-8xl transform-gpu tracking-tight;
}

.header__hambuger-menu {
	@apply text-white z-10 flex text-4xl cursor-pointer items-center md:hidden;
}

.header__menu--open {
	@apply flex flex-col -left-3.5 right-0 bottom-0 fixed bg-blue-dark bg-opacity-95 min-h-screen justify-center -top-3 w-screen transform-gpu scale-150 origin-top md:scale-100 md:w-8/12 md:relative md:bottom-auto md:top-auto md:bg-opacity-100 md:bg-transparent;
}

.header__menu {
	@apply md:flex md:flex-1 items-center md:flex md:items-start md:h-auto md:min-h-0 md:h-full md:w-8/12 md:justify-end md:relative md:flex-row md:visible;
}

.baner__subtitle {
	@apply text-white ml-1 text mb-2 lg:text-xl xl:text-3xl;
}

.baner__header {
	@apply text-white text -mt-2 font-bold text-7xl xl:text-9xl;
}

.baner__side-short {
	@apply bg-no-repeat max-w-3xl mt-0 bg-left bg-contain mx-auto w-full lg:w-full md:-ml-20 md:bg-50%;
}

.baner {
	@apply flex flex-col justify-between px-16 items-center min-h-full lg:mt-0 md:flex-row pt-20 overflow-hidden;
}

.baner__side--bigger {
	@apply mt-0 max-w-md w-full md:max-w-max lg:w-max md:mt-0 md:-mr-20 lg:-ml-20;
}

.menu__item-link {
	@apply text-white flex justify-center text tracking-wide font-medium py-2 px-4 w-full lg:w-auto lg:pt-6 lg:pb-2 lg:px-4;
}

.menu__item-block {
	@apply transition duration-300 pt-1 ease-in-out hover:bg-red flex items-end lg:pt-0;
}

/* menu link */

.horizontal-line {
	@apply border-b-1 border-red w-7/12 -right-40 flex absolute h-1 top-1/2 right-0 transform -translate-y-1/2 md:-right-5 md:w-1/2 xl:w-1/2;
}

.text {
	@apply font-text;
}

.text-header {
	@apply font-semibold text-white text-4xl lg:text-6xl;
}

.text--center {
	@apply text-center;
}

.section-text {
	@apply text-white mt-3 mb-1 text-center font-light md:text-left md:mt-6 md:mb-2 md:leading-6 md:text-xl lg:leading-loose lg:text-2xl;
}

.text-icon {
	@apply text-white text-4xl;
}

.bg-blur {
	backdrop-filter: blur(20px);
	transition: all .3s ease-in-out;
}

.footer__text {
	@apply text-white text-base px-2 font-medium;
}

.footer__content {
	@apply flex divide-x-2 divide-white justify-center py-2 pb-3 md:pb-6;
}

.sticky-header {
	@apply transform scale-75 origin-center;
}

.skill__content {
	@apply py-5 grid gap-x-3 gap-y-16 justify-items-center xs:gap-x-3 xs:grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:gap-y-32 lg:gap-x-6;
}

.section--footer {
	@apply bg-darkBlue py-7 border-gray border-t-1 justify-center flex md:py-14;
}

.input {
	@apply py-4 px-4 placeholder-gray;
}

.line-underline {
	@apply border-b-2 border-red w-1/4 flex pt-2 m-auto md:pt-5 lg:w-1/5;
}

.line-vertical {
	@apply border-l-2 border-red w-1 text-center flex mx-auto h-16 mb-5 md:h-28;
}

.text__section {
	@apply font-light text-base text-center py-6 md:text-center max-w-4xl mx-auto text-white leading-loose font-light;
}
