@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'FREESCPT';
	src: url(./Fonts/FREESCPT.ttf);
}

@font-face {
	font-family: 'Haettenschweiler';
	src: url(./Fonts/Haettenschweiler-Regular.ttf);
}

@font-face {
	font-family: 'Poppins';
	src: url(./Fonts/Poppins-Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: 'Poppins';
	src: url(./Fonts/Poppins-SemiBold.ttf);
	font-weight: semibold;
}

@font-face {
	font-family: 'Poppins';
	src: url(./Fonts/Poppins-Medium.ttf);
	font-weight: medium;
}

@font-face {
	font-family: 'Poppins';
	src: url(./Fonts/Poppins-Light.ttf);
	font-weight: light;
}

/* btn */

.btn {
	@apply px-2 py-1 transition-all ease-in-out duration-300 text text-xl flex items-center lg:px-16 lg:py-3 cursor-pointer;
}

.btn--small {
	@apply px-2 py-1 h-10 max-w-xs text-center text text-base tracking-wide flex justify-center lg:px-4.5 lg:py-2 lg:h-14;
}

.btn--transparent {
	@apply bg-transparent border-2 border-white rounded-full text-white hover:text-blue-dark hover:bg-white;
}

.btn--red {
	@apply bg-red text-white lg:px-16 lg:py-3 px-4 py-2 hover:bg-warning-800;
}

.btn--rounded {
	@apply rounded-full;
}

/* btn */

/* menu link */

.menu__item {
	@apply h-16 z-10 border-b-1 justify-end border-transparent w-full hover:border-red md:w-auto md:mb-0 mb-2 xl:h-21;
}

.menu__item-link {
	@apply text-white flex justify-center text tracking-wide font-medium py-2 px-4 w-full md:w-auto lg:pt-6 lg:pb-2 lg:px-4;
}

.menu__item-block {
	@apply transition duration-300 pt-1 ease-in-out hover:bg-red flex items-end lg:pt-0;
}

/* menu link */

.horizontal-line {
	@apply border-b-1 border-red w-7/12 -right-40 flex absolute h-1 top-1/2 right-0 transform -translate-y-1/2 md:-right-5 md:w-1/2 xl:w-1/2;
}

.text {
	@apply font-text;
}

.text-header {
	@apply font-semibold text-white text-4xl lg:text-6xl;
}

.text--center {
	@apply text-center;
}

.section-text {
	@apply text-white mt-3 mb-1 text-center font-light md:text-left md:mt-6 md:mb-2 md:leading-6 md:text-xl lg:leading-loose lg:text-2xl;
}

.text-icon {
	@apply text-white text-4xl;
}

.bg-blur {
	backdrop-filter: blur(20px);
	transition: all .3s ease-in-out;
}

.footer__text {
	@apply text-white text-base px-2 font-medium;
}

.footer__content {
	@apply flex divide-x-2 divide-white justify-center py-2 pb-3 md:pb-6;
}

.sticky-header {
	@apply transform scale-75 origin-center;
}

.skill__content {
	@apply py-5 grid gap-x-3 gap-y-16 justify-items-center xs:gap-x-3 xs:grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:gap-y-32 lg:gap-x-6;
}

.section--footer {
	@apply bg-darkBlue py-7 border-gray border-t-1 justify-center flex md:py-14;
}

.input {
	@apply py-4 px-4 placeholder-gray;
}
