@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'FREESCPT';
	src: url(./Fonts/FREESCPT.ttf);
}

@font-face {
	font-family: 'Haettenschweiler';
	src: url(./Fonts/Haettenschweiler-Regular.ttf);
}

@font-face {
	font-family: 'Poppins';
	src: url(./Fonts/Poppins-Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: 'Poppins';
	src: url(./Fonts/Poppins-SemiBold.ttf);
	font-weight: semibold;
}

@font-face {
	font-family: 'Poppins';
	src: url(./Fonts/Poppins-Medium.ttf);
	font-weight: medium;
}

@font-face {
	font-family: 'Poppins';
	src: url(./Fonts/Poppins-Light.ttf);
	font-weight: light;
}

.btn {
	@apply px-2 py-1 transition-all ease-in-out duration-300 text text-xl flex items-center lg:px-16 lg:py-3 cursor-pointer;
}

.btn--small {
	@apply px-4.5 py-2 h-14 max-w-xs text-center text text-base tracking-wide flex justify-center;
}

.btn--transparent {
	@apply bg-transparent border-1 border-white rounded-full text-white hover:text-blue-dark hover:bg-white;
}

.btn--red {
	@apply bg-red text-white lg:px-16 lg:py-3 px-4 py-2 hover:bg-warning-800;
}

.btn--rounded {
	@apply rounded-full;
}

.text {
	@apply font-text;
}

.text-header {
	@apply font-semibold text-white text-4xl lg:text-6xl;
}

.text--center {
	@apply text-center;
}

.bg-blur {
	backdrop-filter: blur(20px);
	transition: all .3s ease-in-out;
}

.sticky-header {
	@apply transform ease-in-out scale-75 origin-top transition-all duration-300;
}
